.boards {
  &__table {
    &:hover {
      cursor: pointer;
    }
  }
  &__linkBox {
    a {
      margin: 0 8px;
    }
  }
}

.boards__searchForm {
  display: inline-block;
}

.boards__select {
  display: inline-block;
  width: auto;
}